doctype html
html
    head
       script(src='http://maps.googleapis.com/maps/api/js')
       script(src='js/jquery.min.js')
       script(src='js/app.js')
       script(src='js/util.js')
    body
        table
            tr
                td
                    h4= "Add waypoint"
                    form(action="/gps/coord/test" method="post" enctype="multipart/form-data")
                        label
                            | Latitude
                        input(id = "waypoint_lat" type="text" name="lat")
                        br
                        label
                            | Longtitude
                        input(id = "waypoint_lon" type="text" name="lon")
                        br
                        label
                            | Name
                        input(type="text" name="name")
                        br

                        input(type="submit" value="Add waypoint")
                td
                    h4= "Add checkpoint"
                    form(action="upload/image" method="post" enctype="multipart/form-data")
                        label
                            | Title
                        input(type="text" name="title")
                        br
                        label
                            | Latitude
                        input(id = "checkpoint_lat" type="text" name="lat")
                        br
                        label
                            | Longtitude
                        input(id = "checkpoint_lon" type="text" name="lon")
                        br
                        label
                            | Note
                        input(type="text" name="note")
                        br
                        label
                            | Image
                        input(type="file" name="trackData")
                        br
                        input(type="submit" value="Add checkpoint")

    ul#trackList
    #map-canvas(style='width:500px;height:380px;')

    h4 Upload GPX path
    form(action='upload/gpx', method='post', enctype='multipart/form-data')
        input(type='file', name='trackData')
        br
        input(type='submit', value='Submit')
    //
    //h4 Upload image
    //  form(action='upload/image', method='post', enctype='multipart/form-data')
    //     input(type='file', name='trackData')
    //     br
    //     input(type='submit', value='Submit')